 /* ------>LOCALES<------ */
 .locales {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr repeat(3, 1fr) 0.1fr;
    grid-auto-columns: 1fr;
    grid-gap: auto;
    width: 100%;
      max-width: 100%;
      margin: auto auto;
    grid-auto-flow: row;
    grid-template-areas:
      "local"
      "local-1"
      "tienda"
      "tienda-1"
      "widget-5";
    
  }
  
  .local { grid-area: local;
    background: #76c893;
    margin-top: 0%;
    position: relative;
    }
  .local h1{
    text-align: center;
    color: #1f1f6f;
    
  }
  .local-1 { grid-area: local-1;
    display: flex;
      width: 100%;
    height: 600px;
      padding: 40px;
      border-style: groove;
    background: #34a0a4;
   }
  .local-1 img{
      image-orientation: from-image;
      
  }
  .tienda { grid-area: tienda;
    margin-top: 0%;
    display: flex;
      width: 100%;
      padding: 40px;
      display: flex;
      align-items: stretch;
      justify-content: space-around;
    background: #99d98c;
   }
  
  .tienda-1 { grid-area: tienda-1;
    display: flex;
      width: 100%;
      padding: 10px;
      justify-content: space-between;
    background: #1e6091;
   }
  
  .widget-5 { grid-area: widget-5;
     width: 100%;
      height: 100px;
      background: #b5e48c;
      background-size: 200%;
      background-attachment: fixed;
      background-repeat: no-repeat;	
      overflow: hidden;
    display: flexbox;
  }
  .widget-5 a{
      display: block;
      padding: 10px;
      width: 150px;
      text-align: center;
      text-decoration: none;
      background: #000000;
      color: #ffffff;
      margin: 50px auto 50px auto;
      transition: 1s;
    border-radius: 10px;
  }
  .widget-5 a:hover{
      background: #34a0a4;
      color: #000000;
  }