/*------>MENU<------*/

.contenedor-2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 0.1fr 1.6fr);
  grid-gap: auto;
  width: 100%;
  max-width: 100%;
  margin: auto auto;
  grid-auto-flow: row;
  grid-template-areas:
    "cabeza"
    "cuerpo"
    "cabeza-1"
    "cuerpo-1"
    "cabeza-2"
    "cuerpo-2";
  padding: 10px;
  border-radius: 4px;

  h1 {
    @include menu-contenedor
  }

  h2 {
    @include menu-contenedor
  }

  h3 {
    @include menu-contenedor
  }

  .cabeza {
    grid-area: cabeza;
    background: #3b5998;
  }

  .cuerpo {
    grid-area: cuerpo;
    background: #76c893;

    .clasicas {
      display: flex;
      width: 100%;
      padding: 10px;

      .insignias {
        background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
        color: white;
        width: 320px;
        height: 550px;
        border-radius: 10px;
        padding: 20px;
        box-sizing: border-box;
        position: relative;
        display: flex;
        flex-direction: column;

        box-shadow: -3px 0 10px rgba(0, 0, 0, 0.3), -4px 0 10px rgba(0, 0, 0, 0.2),
          -5px 0 10px rgba(0, 0, 0, 0.1);

        

        a {
          color: yellow;
          text-decoration: none;
          font-weight: bold;

          &:hover {
            color: lightyellow;
          }
        }

        &:hover {
          margin-right: 10px;
          
        }

        .encabezado {
          flex: .7;
          font-size: 30px;

          .titulo {
            padding: 10px 0;
          }

          .ingredientes {
            font-size: 18px;
          }
        }

        .author {
          img {
            width: 70%;
            display: block;
            margin: auto;
            width: 200px;
            height: 200px;
            &:hover{
              transform: scale(1.5,1.5);
              transition: all 0.3s ease;
            }
          }
        }
      }

      
    }
  }

  .cabeza-1 {
    grid-area: cabeza-1;
    background: #0a1945;
  }

  .cuerpo-1 {
    grid-area: cuerpo-1;
    background: #e33f5f;

    .clasicas {
      display: flex;
      width: 100%;
      padding: 10px;

      .insignias {
        background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
        color: white;
        width: 320px;
        height: 550px;
        border-radius: 10px;
        padding: 20px;
        box-sizing: border-box;
        position: relative;
        display: flex;
        flex-direction: column;

        box-shadow: -3px 0 10px rgba(0, 0, 0, 0.3), -4px 0 10px rgba(0, 0, 0, 0.2),
          -5px 0 10px rgba(0, 0, 0, 0.1);

        

        a {
          color: yellow;
          text-decoration: none;
          font-weight: bold;

          &:hover {
            color: lightyellow;
          }
        }

        &:hover {
          margin-right: 10px;
          
        }

        .encabezado {
          flex: .7;
          font-size: 30px;

          .titulo {
            padding: 5px 0;
          }
          #titulo-3{
            font-size: 25px;
          }
          .ingredientes {
            font-size: 18px;
          }
        }

        .author {
          img {
            width: 70%;
            display: block;
            margin: auto;
            width: 200px;
            height: 200px;
            &:hover{
              transform: scale(1.5,1.5);
              transition: all 0.3s ease;
            }
          }
        }
      }

      
    }
  }

  .cabeza-2 {
    grid-area: cabeza-2;
    background: #fec66d;

    h3 {
      background-color: #09203f;
    }
  }

  .cuerpo-2 {
    grid-area: cuerpo-2;
    background: brown;

    .clasicas {
      display: flex;
      width: 100%;
      padding: 10px;

      .insignias {
        background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
        color: white;
        width: 320px;
        height: 550px;
        border-radius: 10px;
        padding: 20px;
        box-sizing: border-box;
        position: relative;
        display: flex;
        flex-direction: column;

        box-shadow: -3px 0 10px rgba(0, 0, 0, 0.3), -4px 0 10px rgba(0, 0, 0, 0.2),
          -5px 0 10px rgba(0, 0, 0, 0.1);

        

        a {
          color: yellow;
          text-decoration: none;
          font-weight: bold;

          &:hover {
            color: lightyellow;
          }
        }

        &:hover {
          margin-right: 10px;
          
        }

        .encabezado {
          flex: .7;
          font-size: 30px;

          .titulo {
            padding: 10px 0;
          }

          .ingredientes {
            font-size: 18px;
          }
        }

        .author {
          img {
            width: 70%;
            display: block;
            margin: auto;
            width: 200px;
            height: 200px;
            &:hover{
              transform: scale(1.5,1.5);
              transition: all 0.3s ease;
            }
          }
        }
      }

      
    }
  }
}

// Mediaqueries
@media screen and (max-width: 768px){
.contenedor-2{height: 3530px;
  .cuerpo{
    .clasicas{
      display: grid;
      grid-template-areas: "insignias element-1"
                           "element-2 element-3";
      width: 100%;
      padding: 20px;
      .insignias {
        position: inherit;
      }
      
    }
  }
  .cuerpo-1{
    .clasicas{
      display: grid;
      grid-template-areas: "insignias element-1"
                           "element-2 element-3";
      width: 100%;
      padding: 20px;
    }
  }
  .cuerpo-2{
    .clasicas{
      display: grid;
      grid-template-areas: "insignias element-1"
                           "element-2 element-3";
      width: 100%;
      padding: 20px;
    }
  }
}

}
@media screen and (max-width: 600px) {
  .contenedor-2{
    .cuerpo{
      .clasicas{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 20px;
        align-items: center;
        .insignias {
          position: inherit;
        }
        
      }
    }
    .cuerpo-1{
      .clasicas{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 20px;
        align-items: center;
      }
    }
    .cuerpo-2{
      .clasicas{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 20px;
        align-items: center;
      }
  }
}
}
@media screen and (max-width: 425px){
  .contenedor-2{
    height: 6820px;
  }
}